<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\log.txt" internalLogLevel="Info"
      internalLogToConsole="true">
  
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  
  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${level} ${message}"
            fileName="${logDirectory}/logfile.txt"
            archiveFileName="${logDirectory}/archives/log.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <target name="errorfile" xsi:type="File"
                layout="
    -------------- ${level} (${longdate}) --------------${newline}
    ${newline}
    Call Site: ${callsite}${newline}
    Exception Type: ${exception:format=Type}${newline}
    Exception Message: ${exception:format=Message}${newline}
    Stack Trace: ${exception:format=StackTrace}${newline}
    Additional Info: ${message}${newline}"
                fileName="${logDirectory}/errorfile.txt"
                archiveFileName="${logDirectory}/archives/error.{#####}.txt"
                archiveAboveSize="10240"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8" />

    <!-- write log message to database -->
    <target xsi:type="Database" name="db" 
         dbProvider="System.Data.SQLite" 
         keepConnection="false"
         connectionString="Data Source=${basedir}\db\Log.db3;Version=3;">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        INSERT into Log(Timestamp, Loglevel, Logger, Callsite, Message)
        values(@Timestamp, @Loglevel, @Logger, @Callsite, @Message)
      </commandText>

      <!-- parameters for the command -->
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Message" layout="${message}"/>

      <install-command>
        <text>
          CREATE TABLE Log (Timestamp TEXT, Loglevel TEXT, Logger TEXT, Callsite TEXT, Message TEXT)
        </text>
      </install-command>

    </target>
    
    <target name="console" xsi:type="Console" />
    
    <target xsi:type="ColoredConsole"
          name="consolecolors"          
          useDefaultRowHighlightingRules="true" />
     
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="db" />
    <logger name="*" minlevel="Info" writeTo="consolecolors" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>