<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appbase" value="${specialfolder:folder=CommonApplicationData}/B3Provider" />

  <extensions>
    <add assembly="B3ProviderExplorer"/>
  </extensions>

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss}|${logger}|${level}|${stacktrace}|${message}"/>
    <target name="memory" xsi:type="MemoryEventTarget" />
    <target name="databasefile" xsi:type="File"
            layout="${date:format=HH\:mm\:ss}|${logger}|${level}|${stacktrace}|${message}"
            fileName="${appbase}/logs/database.txt"
            archiveFileName="${appbase}/archives/database.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="Database" minlevel="Info" writeTo="databasefile" final="true" />
    <logger name="*" minlevel="Info" writeTo="memory,debugger" />
  </rules>

</nlog>